header {
  color: rgba(255, 255, 255, 0.658);
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
}
.mo1 {
  text-align: center;
}

:root {
  /* -- Colors: */
  --body-bg-color: hsl(221deg 16% 6%);
  /* -- Background */
  --bg-position: 0;
  /* -- misc */
  --debug: 0;
  --trs-easing: cubic-bezier(0.41, -0.09, 0.55, 1.09);
  --trs-timing: 300ms;
  --trs-delay: 80ms;
}

*:before,
*:after {
  box-sizing: border-box;

  outline: calc(var(--debug) * 1px) dashed rgba(255, 0, 0, 0.5);
}

body {
  width: 100%;
  height: 100%;
}

body {
  background: var(--body-bg-color);

  font-family: "Mona Sans", sans-serif;
}

main {
  width: 100%;
  max-width: 700px;
  color: white;
}
main header {
  text-align: center;
  margin-bottom: 6em;
}
main header h2 {
  font-size: 2em;
  font-weight: 500;
}

.nav {
  transition: --after-bg-position var(--trs-timing) var(--trs-easing) 0.2s,
    --after-radial-bg-position var(--trs-timing) var(--trs-easing) 0.2s,
    --after-bg-width var(--trs-timing) var(--trs-easing) 0.2s,
    --after-bg-opacity var(--trs-timing) var(--trs-easing) 0.2s,
    --li-before-opacity var(--trs-timing) var(--trs-easing) 0.2s;
  background: var(--body-bg-color);
  border-radius: 100px;
  position: relative;
}
.nav:before {
  content: "";
  display: block;
  position: absolute;
  width: calc(calc(var(--after-bg-width) * 1px) - 8px);
  height: 100%;
  background: rgb(255 255 255 / calc(var(--after-shadow-offset) * 1%));
  border-radius: 100px;
  filter: blur(20px);
  left: 0;
  top: 0;
  transform: translateX(calc(var(--after-bg-position) * 1px)) scale(1.1);
}
.nav ul {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-radius: 100px;
  background-position: center center;
  background-image: radial-gradient(
    ellipse 150px 100px at calc(var(--after-radial-bg-position) * 1px) bottom,
    white 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
}
.nav ul:active {
  --after-scale: 0.75;
}
.nav ul:before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: var(--body-bg-color);
  top: 1px;
  left: 1px;
  border-radius: 100px;
}
.nav ul:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: calc(calc(var(--after-bg-width) * 1px) - 12px);
  height: calc(100% - 12px);
  background: linear-gradient(
    to bottom,
    rgb(255 255 255 / calc(calc(var(--after-bg-opacity, 0) / 10) * 1%)),
    rgba(255, 255, 255, 0.1)
  );
  box-shadow: inset 0 -6px calc(var(--after-shadow-offset, 0) * 1px) rgb(255 255
        255 / calc(var(--after-bg-opacity) * 1%));
  left: 6px;
  top: 6px;
  transform: translate(calc(var(--after-bg-position) * 1px), 0);
  border-radius: 100px 12px 12px 100px;
  transition: --after-bg-opacity var(--trs-timing) var(--trs-easing)
      var(--trs-delay),
    --after-shadow-offset var(--trs-timing) var(--trs-easing) var(--trs-delay),
    border-radius var(--trs-timing) var(--trs-easing) var(--trs-delay);
  pointer-events: none;
}
body {
}

.nav ul li {
  padding: 1em;
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  perspective: 800px;
}
.nav ul li:not(.active):hover {
  --li-before-opacity: 0.3;
}
.nav ul li:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  background: rgba(255, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  pointer-events: none;
  user-select: none;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.35)
  );
  opacity: var(--li-before-opacity);
  transform: scale(var(--after-scale))
    rotateY(calc(var(--tilt-bg-y) * 3 * -1deg))
    rotateX(calc(var(--tilt-bg-x) * 3 * 1deg)) translateZ(15px);
  transition: --li-before-opacity var(--trs-timing) var(--trs-easing),
    --after-scale calc(var(--trs-timing) / 2) var(--trs-easing)
      calc(var(--trs-delay) / 2);
}
.nav ul li:first-of-type:before {
  border-radius: 100px 12px 12px 100px;
}
.nav ul li:last-of-type:before {
  border-radius: 12px 100px 100px 12px;
}
.nav ul li a {
  display: block;
  color: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  z-index: 10;
}
.nav ul:has(li.active:first-of-type a):after {
  border-radius: 100px 12px 12px 100px;
}
.nav ul:has(li.active:last-of-type a):after {
  border-radius: 12px 100px 100px 12px;
}
.nav ul:has(li.active:nth-child(n + 2):nth-child(-n + 3) a):after {
  border-radius: 100px;
}

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  height: auto;
  width: auto;
  display: grid;
}

body {
  color: #e9edee;
  font-family: sans-serif;
  font-style: 1rem;
  line-height: 1.5;
  margin: auto;
  min-height: 100vh;
  width: 100%;

  display: grid;
  justify-content: space-around;
  justify-items: stretch;
  align-content: space-between;
}

@media screen and (max-width: 480px) {
  .movie__poster {
    width: 200px;
    margin: 90px;
    height: 200px;
  }
  footer {
    font-size: 80px;
  }
  input {
    margin-right: 8px;
  }
}
#root {
  margin: 15px;
}
#generate {
  padding: 15px;
  padding-left: -9px;
  margin-left: 160px;
}

#long98 {
  font-style: 100px;
}

figure {
  margin: 0;
}

img {
  height: 90%;
  max-width: 90%;
  vertical-align: middle;
}

input {
  border: 2px;
  font: inherit;
  margin: 30px;
  padding: 0;
  margin-left: -30px;
  padding: 30px;
  border-radius: 8px;
  border-style: solid;
  height: 90px;
  width: 60px;
  margin-left: -15px;
}

.search {
  font-size: 1.5rem;
  margin: 1.5em auto 3em;
  max-width: 80%;
}

.search [type="search"] {
  background-color: #131b20;
  color: #f2fff7;
  padding: 0.5em 2em;
  text-align: center;
  width: 100%;
}

.movies {
  display: grid;
  grid-gap: 3em 2em;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  list-style: none;
  margin: 20px;
  padding: 9px;
  display: grid;
}

.movie__figure {
  position: relative;
  padding: -20px;
  display: grid;
  justify-items: center;
}

.movie__poster {
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    margin-bottom: 0.5em;
    /* display: grid; */
    height: 360px;
    width: 1051px;
    align-items: baseline;
    justify-content: space-between;
    display: flex;
}
.app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
.movie__vote {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f68d01;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.9em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.6em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 75%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  width: 3.27em;
  display: g;
}

.movie__title {
  font-size: 30px;
  font-weight: 360;
  margin: auto;
  text-align: left;
  color: rgb(255, 255, 255);
  display: grid;
  padding-left: -8px;

  padding: 9px;
}
.L0007 {
  padding: 15px;
}

body,
html {
  height: 100%;
  display: grid;
  padding: 0;
  margin: 0;
}

#container {
  margin: auto;
}

button {
  padding: 3rem 4rem;
  background: transparent;
  font-family: "Roboto";
  color: #fcddfc;
  text-shadow: 2px 3px 4px rgba(5, 0, 0, 1);
  font-size: 3rem;
  background: rgba(255, 255, 255, 0.41);
  border-radius: 16px;
  box-shadow: inset 1px 1px 31px 20px rgba(252, 221, 252, 1);
  backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@font-face {
  font-family: "Mona Sans";
  src: url("https://assets.codepen.io/64/Mona-Sans.woff2")
      format("woff2 supports variations"),
    url("https://assets.codepen.io/64/Mona-Sans.woff2")
      format("woff2-variations");
  font-weight: 100 1000;
}
/* 
-- Why the @layer ?
   I misuse the @layer for a good reason. 
   Since I do a lot of demo featuring #houdini
   I like to store my @property --foo {} within
   A @layer so that the viewer can simply fold the layer 
   And access to the interesting part of the CSS panel.
*/
@layer properties {
  @property --after-bg-position {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
  }
  @property --after-radial-bg-position {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
  }
  @property --after-bg-width {
    syntax: "<number>";
    inherits: true;
    initial-value: 100;
  }
  @property --after-bg-opacity {
    syntax: "<number>";
    inherits: true;
    initial-value: 20;
  }
  @property --after-shadow-offset {
    syntax: "<number>";
    inherits: true;
    initial-value: 15;
  }
  @property --after-scale {
    syntax: "<number>";
    inherits: true;
    initial-value: 0.85;
  }
  @property --li-before-opacity {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
  }
}
:root {
  /* -- Colors: */
  --body-bg-color: hsl(221deg 16% 6%);
  /* -- Background */
  --bg-position: 0;
  /* -- misc */
  --debug: 0;
  --trs-easing: cubic-bezier(0.41, -0.09, 0.55, 1.09);
  --trs-timing: 300ms;
  --trs-delay: 80ms;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  /* debug */
  outline: calc(var(--debug) * 1px) dashed rgba(255, 0, 0, 0.5);
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: var(--body-bg-color);
  display: grid;
  place-items: center;
  font-family: "Mona Sans", sans-serif;
}

main {
  width: 100%;
  max-width: 700px;
  color: white;
}
main header {
  text-align: center;
  margin-bottom: 6em;
}
main header h2 {
  font-size: 2em;
  font-weight: 500;
}

.nav {
  transition: --after-bg-position var(--trs-timing) var(--trs-easing) 0.2s,
    --after-radial-bg-position var(--trs-timing) var(--trs-easing) 0.2s,
    --after-bg-width var(--trs-timing) var(--trs-easing) 0.2s,
    --after-bg-opacity var(--trs-timing) var(--trs-easing) 0.2s,
    --li-before-opacity var(--trs-timing) var(--trs-easing) 0.2s;
  background: var(--body-bg-color);
  border-radius: 100px;
  position: relative;
}
.nav:before {
  content: "";
  display: block;
  position: absolute;
  width: calc(calc(var(--after-bg-width) * 1px) - 8px);
  height: 100%;
  background: rgb(255 255 255 / calc(var(--after-shadow-offset) * 1%));
  border-radius: 100px;
  filter: blur(20px);
  left: 0;
  top: 0;
  transform: translateX(calc(var(--after-bg-position) * 1px)) scale(1.1);
}
.nav ul {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-radius: 100px;
  background-position: center center;
  background-image: radial-gradient(
    ellipse 150px 100px at calc(var(--after-radial-bg-position) * 1px) bottom,
    white 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  /*
   &:has(li.active:hover):after {
    --after-bg-opacity: 50;
    --after-shadow-offset: 10;
  }
  */
  /* 
    Some :has() goodness to control the 
    nav:after border-radius hihihi 
  */
}
.nav ul:active {
  --after-scale: 0.75;
}
.nav ul:before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: var(--body-bg-color);
  top: 1px;
  left: 1px;
  border-radius: 100px;
}
.nav ul:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: calc(calc(var(--after-bg-width) * 1px) - 12px);
  height: calc(100% - 12px);
  background: linear-gradient(
    to bottom,
    rgb(255 255 255 / calc(calc(var(--after-bg-opacity, 0) / 10) * 1%)),
    rgba(255, 255, 255, 0.1)
  );
  box-shadow: inset 0 -6px calc(var(--after-shadow-offset, 0) * 1px) rgb(255 255
        255 / calc(var(--after-bg-opacity) * 1%));
  left: 6px;
  top: 6px;
  transform: translate(calc(var(--after-bg-position) * 1px), 0);
  border-radius: 100px 12px 12px 100px;
  transition: --after-bg-opacity var(--trs-timing) var(--trs-easing)
      var(--trs-delay),
    --after-shadow-offset var(--trs-timing) var(--trs-easing) var(--trs-delay),
    border-radius var(--trs-timing) var(--trs-easing) var(--trs-delay);
  pointer-events: none;
}
.nav ul li {
  padding: 1em;
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  perspective: 800px;
}
.nav ul li:not(.active):hover {
  --li-before-opacity: 0.3;
}
.nav ul li:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  background: rgba(255, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  pointer-events: none;
  user-select: none;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.35)
  );
  opacity: var(--li-before-opacity);
  transform: scale(var(--after-scale))
    rotateY(calc(var(--tilt-bg-y) * 3 * -1deg))
    rotateX(calc(var(--tilt-bg-x) * 3 * 1deg)) translateZ(15px);
  transition: --li-before-opacity var(--trs-timing) var(--trs-easing),
    --after-scale calc(var(--trs-timing) / 2) var(--trs-easing)
      calc(var(--trs-delay) / 2);
}
.nav ul li:first-of-type:before {
  border-radius: 100px 12px 12px 100px;
}
.nav ul li:last-of-type:before {
  border-radius: 12px 100px 100px 12px;
}
.nav ul li a {
  display: block;
  color: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  z-index: 10;
}
.nav ul:has(li.active:first-of-type a):after {
  border-radius: 100px 12px 12px 100px;
}
.nav ul:has(li.active:last-of-type a):after {
  border-radius: 12px 100px 100px 12px;
}
.nav ul:has(li.active:nth-child(n + 2):nth-child(-n + 3) a):after {
  border-radius: 100px;
}
